@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  background-color: #0a192f;
}

::-webkit-scrollbar-thumb {
  background: #013f3c7f;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #013f3c7f;
}
